ul {
    padding-left: 0 !important;
}
* {
    text-decoration: none !important;
}
.navbar-name {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-primary {
    background-color: #5D87FF !important;
}